iframe {
    width: 100%;
    height: -webkit-fill-available;
}
.bg {
    background-color: black;
}
code {
    color: #fff !important;
}
.nav-pills {
    position: sticky;
    top: 0;
    background-color: #fff;
}